
@media (max-width: 1024px){

.logo {
    	width: 111px;
}
#Lorem_ipsum_dolor_sit_amet__co { 
    width: 325px;
    left: 143px;
    top: 255px;
    height: 181px;
}
#Btn___i_t_c {
    top: 438px;
}
#D_CH_V_ {
    width: 178px;
    margin-left: 356px;
    margin-top: -113px;
    font-size: 36px;
}
#PAT {
    margin-left: 394px;

}
#Nh_ng_d_ch_v__c_a_ch_ng_t_i_ {
    margin-left: 309px;

}
#Group_280 {
    margin-left: 424px;
}
.cauchu img {
	width: 4%;
}
.avartc img {
  
	display: block;
    margin-left: auto;
    margin-right: auto;

}
.logo1 img {
    margin-left: 46px;
    margin-bottom: 10px;
}
#XEM_GIAO_DI_N {
    font-size: 11px;
    padding-top: 11px;
    margin-left: -18px;
}
#LI_N_H_ {
    font-size: 11px;
    padding-top: 11px;
    width: 70px;
}
iframe{
	width: 150px;
}
.nt input {
    width: 210px;
}
.fancybox-button {

    margin-right: 24px !important;
}
.banner {
       width: 636px;
    height: 239px;

}
#owl-demo .item img {
    height: 235px;
}
.slide {
    margin-left: 0px;
    width: 100%;
}
#Qua_m_t_ch_ng____ng_x_y_d_ng_v{
	display: none;
}
#SLOGAN___S_N_PH_M_MANG_GI__TR_ {
 margin-left: 10px;
    margin-top: 100px;
    width: 236px;
    font-size: 11px;

}
#Btn___i_t_c_jg {

   width: 200px;
    height: 40px;
    margin-left: 10px;
 
}
#LI_N_H__V_I_CH_NG_T_I {

    font-size: 15px;

}
#Group_2801 {
	margin-top: -54px;
}
.gtcl {
    width: 308px;
    margin-left: 70px;
    line-height: 20px;
    font-size: 11px;

}
#Group_4898 {
       width: 100%;
}
.right {
    margin-left: 145px;
}
.Group_1331 img {
    width: 112%;
    margin-top: -58px;
}
/*.tab {
   margin-left: 379px !important;
}
*/


#Lorem_ipsum_dolor_sit_amet {
    margin-top: 75px;
    margin-left: 28px;

    font-size: 16px;
    color: rgba(255,255,255,1);
}
.Group_823 img {

    margin-left: 245px;
  
}

.nut {
    background-color: white !important;
    color: #99c93d !important;
    font-weight: bold;
    border-radius: 20px;
    border: 0px solid;
    margin-left: 371px;
}
.btt {
    margin-left: 164px;
}
.khuung1 {
   border: 0px solid white;
    width: 84%;
    height: 297px;
    margin-left: 0px;
    margin-top: -297px;
}
.anda:hover .khuung1 {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0px solid white;
    width: 84%;
    height: 297px;
    margin-left: 0px;
    margin-top: -297px;
    z-index: 6;
}
.Rectangle_93:hover {
    border: 2px solid white;
    width: 91%;
    height: 276px;
    margin-left: 10px;
    margin-top: 10px;
}
.Rectangle_93 {
   border: 2px solid white;
    width: 91%;
    height: 276px;
    margin-left: 10px;
    margin-top: 10px;
}
.gachli {

    padding-top: 66px;
}
.hinhli {
 
    height: 859px;  
}
#Lorem_ipsum_dolor_sit_amet__co_gp {
    position: absolute;
    left: 74px;
    top: 133px;
    overflow: hidden;
    width: 485px;
    height: 226px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}
#TH__NG_M_I__I_N_T_ h5{
    padding-left: 0px;
    font-weight: bold;
    font-size: 12px;
    color: rgba(30,30,30,1);
}
.hihhgp1 {
    margin-left: 538px;
    margin-top: 564px;
    position: absolute;
}
#ndthuongmaidientu {
    padding-left: 30px;
    font-size: 8px;
    color: rgba(112,112,112,1);
}
#giaiphap {
    background-image: url(../../img/Mask Group 68.png);
    height: 1029px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Group_2170 {

    height: 280px;

}
#Group_2169 {
    margin-left: 180px;
    margin-top: 0;
}
#TH__NG_M_I__I_N_T__oq {
/*    transform: rotate(269deg);
    width: 222px;
    margin-top: -266px;
    margin-left: 132px;
    font-size: 20px;
    color: rgba(167,169,171,1);*/
    display: none;
}
.khuung1_gp {
    border: 0px solid white;
    width: 94%;
    height: 324px;
    margin-left: 0px;
    margin-top: -323px;
}
.anda_gp:hover .khuung1_gp {
    background-color: rgba(0, 0, 0, 0.58);
    border: 0px solid white;
    width: 94%;
    height: 324px;
    margin-left: 0px;
    margin-top: -323px;
    z-index: 6;
}
.anda_gp:hover .Rectangle_93_gp {
    background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid white;
    width: 92%;
    height: 305px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 6;
}
.Rectangle_93_gp {
    border: 2px solid white;
    width: 92%;
    height: 305px;
    margin-left: 10px;
    margin-top: 10px;
}
#Lorem_ipsum_dolor_sit_amet_gp {
    margin-top: 38px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
.hinhcm .tab {
    overflow: hidden;
    margin-left: 279px;
}
.tdcm {
    text-align: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(30,30,30,1);
    margin-top: 10px;
}
.tdcm p {
    width: 194px;
    margin-left: 0px;
}
.tmcm {
    text-align: center;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(30,30,30,1);
      margin: 0px;
    overflow: hidden;
    height: 115px;
    width: 192px;
}
.nddvlaptrinh .tab {
    overflow: hidden;
    margin-left: 427px;
}
#Thi_t_k__s_n_ph_m___p__ng_t_t_ {
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(30,30,30,1);
}
.theonganh .tab {
    overflow: hidden;
    margin-left: 44px;
}
.pc .nd_dv_tk {
    opacity: 0.8;
    background-color: rgb(30, 30, 30);
    border: 2px solid #99c93d;
    width: 423px;
    height: 250px;
    transform: matrix(1,0,0,1,0,0);
    margin-left: 85px;
    position: absolute;
    z-index: 2;
}
.pc .nd_dv_tk1 {
    margin-top: 15px;
    margin-left: 10px;
}
.pc #Group_51921 {
    position: absolute;
    z-index: 3;
    margin-top: 252px;
    margin-left: 367px;
}
.pc #B_T___U {
    background-color: #99c93d;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: -16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
.vien {
    background-color: #99c93db3;
    height: 52vh;
    /* opacity: 0.5; */
}
.designdk .knlm textarea {
    width: 395px;
}
.Mask_Group_16 {
    background-image: url(../img/Group 5512.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 738px;
}
#Group_2791 #T_M_NH_N_S__M_NH {
   
    font-size: 35px;

}
.phongnen {
  
    height: 270px;

}
.slick-list{
    height: 280px;
}
.title h4{
    font-size: 14px;
}
#xemtatca p {
    font-size: 19px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 134px;
    font-weight: bold;
}
.traicb i{
    font-size:14px;
    color:black;
    float: left;
    padding-right: 10px;
    padding-top: 4px;
}
.traicb p{
    font-size: 14px;
    font-weight: bold;
}
.phaicb {
    margin-left: 80px;
}

.phaicb p{
    font-size: 14px;
    font-weight: bold;
    float: left;
    padding-right: 10px;
    
}
.phaicb i {
    font-size:14px;
    color:black;
    padding-top: 4px;
}
.phaicb1 {
    margin-left: 33px;
}
.phaicb1 p{
    font-size: 14px;
    font-weight: bold;
    float: left;
    padding-right: 10px
}
.phaicb1 i{
    font-size:14px;
    color:black;
     padding-top: 4px;
}
.phaicb2 {
    margin-left: 147px;
}
.phaicb2 p{
    font-size: 14px;
    font-weight: bold;
    float: left;
    padding-right: 10px
}
.phaicb2 i {
    font-size:14px;
    color:black;
    padding-top: 4px;
}
#T_o_ra_nh_ng_s_n_ph_m_tinh_hoa_da {
    font-weight: normal;
    font-size: 14px;
    color: rgba(30,30,30,1);
    letter-spacing: 0.5px;
    width: 326px;
}
.fom1 textarea {
    width: 437px;
}
.form2 textarea {
    width: 420px;
    resize: none;
}
.Rectangle_136 {
    width: 383px;
}
.Rectangle_137 {
    width: 350px;
}
#T_o_ra_nh_ng_s_n_ph_m_tinh_hoa {

    width: 321px;

}
#T_o_ra_nh_ng_s_n_ph_m_tinh_hoa12 {
        width: 269px;
}
.tn {
        font-size: 14px;
}
.hinhduan .tab {
        margin-left: 492px;
}
}